
body, #swamp 
{
	width:100%; 
	height:100%; 
	margin:0px;

	font-family: "Verdana";
	color: #FFF;
	text-shadow: 1px 1px #000;
}

h3
{
	font-family: "Verdana";
	margin: 10px;
}

p 
{
	margin: 10px;
}


#content.max
{
	position: absolute;

	margin:0px;
	filter:alpha(opacity=50);
	opacity:.5;

	top: 100px;
	left: 50%;
	margin-left: -218px;
	width: 436px;

	height: 290px;
}

.max > #splashWords
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 49%;
	height: 99%;
	background: #888;

	font-size: 88%;
}


.max > #splashPic
{
	position: absolute;
	top: 0px;
	left: 218px;

	width: 50%;
	height: 100%;

	background: url(img/so.jpg);
	background-size: 100% 100%;
    background-repeat: no-repeat;

	font-size: 120%;
}


.max > #splashPic > #controls
{
	font-family: "Lucida Console";
	font-size: 88%;
	text-align: right;
}

#s_footer
{
	position: absolute;
	bottom: 0;

	filter:alpha(opacity=80);
	opacity:.8;
}


#links
{
	width: 100%;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

td
{
	text-align: center;
}

img.icon
{
	width: 50px;
	height: 50px;
}

a:link    {color:#FFF; background-color:transparent; text-decoration:none}
a:visited {color:#FFF; background-color:transparent; text-decoration:none}
a:hover   {color:#FFF; background-color:transparent; text-decoration:none; font-weight: bold;}

.window {
  z-index: 10;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40%;
  color: #00FF00;
  background-color: #001100;
  opacity: .80;
  border: 2px solid #000000;
  font-family: "Lucida Console", "Monaco", "Courier New", Courier, mono;
  font-size: small;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
}
a:active  {color:#FFF; background-color:transparent; text-decoration:none; font-weight: bold;}

@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
  .tabs {
    padding: 3px 1em
  }
}
